.roboto-custom {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace with desired weight, e.g., 100–900 */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
}

#root {
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}