.postContainer {
  margin: 10px;
  padding: 15px;
  height: fit-content; 
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: #E7EADC;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.8);
  position: relative; 
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.postImage {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.4s ease;
  object-fit: cover;
}

.hiddenPostDetailsTop {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  text-align: center;
  display: block;

  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, padding 0.3s ease-in-out;

  position: absolute; /* Positions it over the content */
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7); /* Light background for readability */
  top: 0; /* Positions at the top */
  padding-top: 5px;
}

.postContainer:hover .hiddenPostDetailsTop {
  opacity: 1;
  max-height: none; /* Allow content to fully show */
  padding: 10px 0; /* Smooth padding transition */
}

.hiddenPostDetailsBottom {
  display: flex;
  justify-content: center;
  gap: 10px;
  opacity: 0.5;
  transform: scale(0.8);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.postContainer:hover .hiddenPostDetailsBottom {
  opacity: 0.85;
  transform: scale(1);
}

.postCaption{
  margin-bottom: 5px;
}

.likeButton{
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;

}

.likeButton:hover{
  transform: scale(1.1);
  opacity: 1;
}